{:variables
 {:git/branch          #git "rev-parse --abbrev-ref HEAD"
  :version/pre-release #case [#ref [:variables :git/branch]
                              {"master"  ""
                               "develop" "-beta"
                               :default  "-alpha"}]}}
