*.class
*.jar
*~
.classpath
.clj-kondo/.cache
.cpcache
.idea
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.vscode
checkouts
classes
coverage
dist
design/backgrounds
node_modules
public/assets/styles
public/downloader.js
public/js
public/runner.js
public/test
target
build.edn
*.iml

.env.local
.env
!.env.example
!.envrc
