{:min-bb-version
 "0.8.1"

 :deps
 {io.lazy-cat/tools.project {:mvn/version "0.1.82"}}

 :tasks
 {:requires        ([tools.project :as project]
                    [tools.print :as print])

  :init            (do
                     (def -project (project/read-project))
                     (def -version (:version -project)))

  :enter           (let [{:keys [doc print-doc?]
                          :or   {print-doc? true}} (current-task)]
                     (when (and print-doc? doc)
                       (println (format "▸ [%s] %s" (:name -project) doc))))

  ;;;;
  ;; Tasks
  ;;;;

  version          {:doc        "Show version"
                    :print-doc? false
                    :task       (print -version)}

  version:bump     {:doc        "Bump version"
                    :print-doc? false
                    :task       (shell (str "npm version " -version))}

  project          {:doc        "Show project info"
                    :print-doc? false
                    :task       (print/pretty -project)}

  build.edn        {:doc  "Generate build.edn"
                    :task (project/write-build-info -project)}

  outdated         {:doc  "Check for outdated dependencies"
                    :task (shell "npm run outdated")}

  outdated:upgrade {:doc  "Upgrade outdated dependencies"
                    :task (shell "npm run outdated:upgrade")}

  setup            {:doc  "Setup dependencies"
                    :task (shell "npm run setup")}

  lint             {:doc  "Run linters"
                    :task (do
                            (shell "cljstyle check src")
                            (shell "clj-kondo --lint src"))}

  lint:fix         {:doc  "Run linters & fix"
                    :task (shell "cljstyle fix src")}

  clean            {:doc  "Cleanup"
                    :task (shell "npm run clean")}

  electron:watch   {:doc  "Electron watch"
                    :task (shell "npm run electron:watch")}

  repl             {:doc     "Run REPL"
                    :depends [clean build.edn]
                    :task    (shell "npm run repl")}

  test             {:doc     "Run tests"
                    :depends [clean build.edn]
                    :task    (shell "npm run test")}

  build            {:doc     "Build app"
                    :depends [clean build.edn]
                    :task    (shell "npm run build")}}}
